/* Fixes bug where elements would not take the entire spaces given */
* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* For navigation bar */
nav {
    height: 80px;
    background-color: #0d1b2a;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 100%;
}

nav img{
    width: 50px;
    height: 50px;
    margin: 1rem;
}

nav .buttons{
    margin-left: auto;
    margin-right: 1rem;
}

nav .buttons button {
    color: white;
    border: none;
    background: none;
    cursor: pointer;
}

/* For main content */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CSS FOR TOP SECTION */
hr {
    color: black;
    background-color: black;
    width: 99vw;
    height: 2px;
    margin: 30px 0;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.top h1{
    font-size: 3rem;
}

.top .picture {
    width: 80vw;
    overflow: hidden;
}

.top .picture img{
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 1rem;
}

/* CSS FOR MIDDLE SECTION */
.middle {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle .gallery {
    display: flex;
    justify-content: center;
    width: 90vw;
}

.middle .gallery .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
    height: 100px;
    flex-grow: 1;
    background-color: #778da9;
    margin: .5rem;
    border-radius: 1rem;
    justify-content: center;
    font-weight: 800;
}

/* CSS FOR BOTTOM SECTION */
.bottom {
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.bottom .box{
    display: flex;
    flex-direction: column;
    align-items: center;    
    min-width: 300px;
}

.bottom .box.auto {
    width: 100%;
}

.bottom .item {
    display: flex;
    flex-direction: column;
    background-color: #778da9;
    color: white;
    gap: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 300px;
    margin-top: .5rem;
    border-radius: 1rem;
}

/* CSS FOR FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    background-color: #1b263b;
    color: white;
    font-size: .8rem;
    gap: 1rem;
    margin-top: 50px;
}

footer .logo img{
    width: 50px;
    height: 50px;
}

footer .text {
    display: flex;
    flex-direction: column;
}

footer a {
    margin-top: 5px;
    text-decoration: none;
    color: white;
    font-weight: 900;
}